.span10
  %br
    - if @findings.size > 0
      Hi!
      %br
      Here is a current list of findings from the assessment and the risk rating:
      %br
      - @findings.each do |finding|
        %br
        &nbsp;&nbsp;&nbsp;#{finding.title} -
        - if finding.cvss_score
          #{finding.cvss_severity}
    - else
      This is going to be a short status update as you don't have any findings associated with this project.

